.List {
    list-style: none;
}

.List__item {
    padding: 10px 20px;
    cursor: pointer;
    height: 60px;
    position: relative;
}

.List__item-selected {
    background-color: #ebcf34;
}

.List__item__body, .List__item__title {  
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.List__Header {
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 10px;
}

.List__element__header {
    display: flex;
    justify-content: space-between;
}

.List__delete__item {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

.List__item:hover .List__delete__item {
    display: block;
}